.testonly{
	border: solid 1px black;
	color:black;
}
.fsimg {
	min-height: 400px;
	min-width: 400px;
	max-height: 800px;
	max-width: 800px;
}
.fsdoc {
	min-height: 400px;
	min-width: 400px;
	max-height: 800px;
	max-width: : 800px;
}
.hnavli {
	margin-right: 20px;
}
.showli li {
	margin-left: -20px;
}
textarea {
	min-height: 600px;
	min-width: 800px;
}
video {
	min-height: 400px;
	min-width: 400px;
	max-height: 600px;
	max-width: : 800px;
}
